/*---------------------------index------------------------------*/

:root{
    --success-header: #C2FF70;
    --success-text:#D2FFCE;
    --primary-color:#70C2FF;
    --danger-header:#FF707B;
    --danger-text:#FFCED2;
    --warning-header: #FFF570;
    --warning-text: #FFFCCE;

    --main-color: #70C2FF;
    --nav-hover: #5b9ed1;
    --font-color: #1A496C;
    --field-color: #CEEAFF;

    --disabled-color:#c5c5c5;

    --borderError:#DC3545;
    --borderSuccess:#198754;
}

html,body{
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%
}

.main-color-background{
    background-color: var(--main-color);
}

.main-color{
    color: var(--main-color);
}

.font-main-color{
    color: var(--font-color)!Important;
}

.nav-item:hover{
    background-color:var(--nav-hover);
}

.hero{
    height: 30rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./../img/pexels-startup-stock-photos-7376-cut.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}

.hero-content{
    height: 100%;
    width: 100%;
    color:white;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-content h2{
    font-size:3.5rem;
}

.hero-content p{
    font-size:1.5rem;
}

.hero-content a.btn{
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    border-radius: 2rem;
}
.hero-content a.custom-a{
    font-size: 1.5rem;
}
.hero-content a.custom-a,.hero-content a.custom-a:link,.hero-content a.custom-a:visited, footer a, footer a:link, footer a:visited{
    text-decoration: underline;
    color:white;
}
  
.hero-content a.custom-a:hover, footer a:hover {
    color:rgb(192, 192, 192);
}
  
.hero-content a.custom-a:active, footer a:active {
    color:rgb(133, 133, 133);
}

.landing-description .col-7{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3{
    text-transform: uppercase;
}

footer{
    background-color: var(--main-color);
    color:var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    bottom: 0;
}

footer .dev-name{
    font-weight: bold;
    font-size:1.5rem;
}
/*---------------------------forms------------------------------*/
.form-container{
    height:auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7rem auto;
    padding: 2rem 2rem;
    color:  var(--font-color);
    background-color:var(--main-color);
    border-radius:7%;
}

.form-container legend{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:2rem;
    text-align:center;
}

.field input{
    border-style:solid;
    border-width: 0.1rem;
    background-color:var(--field-color);
    color: var(--font-color);
    border-color:black;
}

.field input:focus{
    box-shadow: none;
    border-color:black;
}

.field input:disabled{
    background-color:var(--disabled-color);
}

.field-icon {
    float: right;
    margin-top: -1.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    z-index: 2;
}

.form-container a, .form-container a:link, .form-container a:visited{
    text-decoration: underline;
    color:black;
}

.form-container a:hover{
    color:rgb(75, 75, 75);
}
  
.form-container a:active{
    color:rgb(133, 133, 133);
}
/*---------------------------Sign up------------------------------*/
#signup-form{
    margin-top:3rem;
    margin-bottom: 3rem;
    padding:2rem;   
}

/*--------------Modal--------------*/
.modal-content{
    border: 0;
}

.modal-header{
    text-transform: uppercase;
}

.modal-header.warning{
    background-color:var(--warning-header);
}

.modal-header.warning+.modal-body,.modal-header.warning+.modal-body+.modal-footer{
    background-color:var(--warning-text);
}

.modal-header.error{
    background-color: var(--danger-header);
}

.modal-header.error+.modal-body,.modal-header.error+.modal-body+.modal-footer{
    background-color: var(--danger-text);
}

.modal-header.primary{
    background-color:var(--primary-color);
}

.modal-header.primary+.modal-body,.modal-header.primary+.modal-body+.modal-footer{
    background-color:var(--field-color);
}

.modal-header.success{
    background-color:var(--success-header);
}

.modal-header.success+.modal-body,.modal-header.success+.modal-body+.modal-footer{
    background-color:var(--success-text);
}

/*---------------dashboard-----------------*/
#burger-menu a{
    text-decoration:none;
    font-size:1.5rem;
}

ul#burger-menu{
    list-style-type: none;
}

#offcanvasRightLabel{
    font-size:3rem;
}

.offcanvas{
    background-color:var(--field-color);
    
}

.offcanvas-header{
    background-color: var(--main-color);
}

.offcanvas-header h5{
    font-size: 2rem;
}

.offcanvas h5,.offcanvas a{
    color: var(--font-color);
    background-color:transparent;
    border:0;
}

.offcanvas a:hover{
    background-color:var(--main-color);
}

.offcanvas a:active{
    background-color:var(--nav-hover);
}

.category{
    background-color:rgba(0,0,0,0.5);
    margin-left:1rem;
    margin-right:1rem;
    padding:0;
    padding-bottom:1rem;
}

.card{
    border: 0;
}

.small-button{
    transition: background-color 0.2s ease;
    background-color:transparent;
    border:0;
    padding:0.2rem;
}

.small-button:hover{
    transition: background-color 0.2s ease;
    background-color:#CEEAFF;
}

.small-button:active{
    transition: background-color 0.2s ease;
    background-color:var(--nav-hover);
}

.category h2,.category .noteAlert{
    color:white;
}

.category .category-header{
    background-color:white;
    padding:0.5rem;
}

.category .category-title h2{
    color:black;
}

.note{
    cursor:move;
}

.note .card-header{
    background-color: var(--main-color);
}

.note .card-body{
    background-color: var(--field-color);
}

.note.dragging{
    opacity:0.5;
}

.noteAlert{
    margin-top:2rem;
    text-align:center;
    background-color: rgba(50,50,50,0.5);
}

.my-fixed-button {
    position: absolute;
    right: 15px;
    bottom: 15px;
    border-radius:50%;
    height: 3.5rem;
    width: 3.5rem;
    margin-right:1rem;
  }

a.my-fixed-button svg {
   margin-top:0.4rem;
} 
  .burger-button{
    position: absolute;
    left: 15px;
    top: 15px;
    border-radius:50%;
    height: 3.5rem;
    width: 3.5rem;
    margin-left:1rem;
    z-index: 100;
  }

/*---------------------addnote----------------------*/


#addnote-form{
    margin-top:5rem;

}

select{
    background-color: var(--field-color);
    border-color:black;
    border-width:0.1rem;
    box-shadow: none;
}

textarea{
    outline: none !important;
    resize:none;
    border-color:black!important;
    border-width:0.1rem!important;
    box-shadow:none!important;
    background-color:var(--field-color)!important;
}

textarea:focus{
    background-color:white!important;
}

textarea.textError{
    border-color:var(--borderError)!important;
}

textarea.textSuccess{
    border-color:var(--borderSuccess)!important;
}

select{
    border-color:black!important;
    border-width:0.1rem!important;
}



/*------------------------------------------------------*/

.special-container{
    height:auto;
    margin: 7rem auto;
    padding: 2rem 2rem;
    color:  var(--font-color);
    background-color:var(--main-color);
    border-radius:7%;
}

.special-container legend{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:2rem;
    text-align:center;
}

.form-container{
    height:auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7rem auto;
    padding: 2rem 2rem;
    color:  var(--font-color);
    background-color:var(--main-color);
    border-radius:7%;
}

#colorGradient{
    position: relative;
}


#image-background,#image-front{
  width:25rem;
  height:14rem;
  
 border:0;

}

#image-front{
    object-fit: cover; /* Do not scale the image */
     object-position:center;
     max-width:100%;
}

#labelButton{
    transition: background-color 0.2s ease;
    background-color: var(--warning-header);
    color: black;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}

#labelButton:hover{
    transition: background-color 0.2s ease;
    background-color: var(--warning-text);
}

#labelButton:active{
    transition: background-color 0.2s ease;
    background-color: white;
}

#image-background{
    z-index:1;
}
#image-front{
    z-index:3;
    position:absolute;
}

#colorGradientMarker{
    z-index:100;
    margin: -0.5rem;
    width: 16px; 
    height: 16px; 
    box-sizing: border-box; 
    border-radius: 50%; 
    border: 2px solid black; 
    position: absolute; 
    pointer-events: none
}

#colorPickerMarker{
    width: 48px;
    height: 0.4rem;
    margin: -0.2rem 0rem;
    margin-left: -0.25rem;
    box-sizing: border-box;
    border: 2px solid black;
    position: absolute;
    padding-top:0.2rem;
    left: -4px;
    border-radius: 3px;
    pointer-events: none;
    top: 170px;
}

.input-range {
    padding: 0;
    height: 200px;
    border-radius: 5px;
    background: #ccc;
    -webkit-appearance: slider-vertical; /* WebKit */ 
}
